n8n-flow-evolution-api.json
{
  "name": "Credenciamento — Boas-vindas WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credenciamento-boas-vindas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-boas-vindas",
      "name": "🌐 Webhook — Presença Confirmada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 280],
      "webhookId": "credenciamento-boas-vindas"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Recebido\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "✅ Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 140]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\nconst telefone = (body.telefone_normalizado || '').replace(/\\D/g, '');\nconst nome     = (body.nome || '').trim();\nconst tipo     = (body.tipo || '').trim();\n\nif (tipo && tipo !== 'boas_vindas') {\n  throw new Error('Tipo de evento inesperado: ' + tipo);\n}\n\nif (!telefone || telefone.length < 12) {\n  return [{ json: { valido: false, motivo: 'telefone ausente ou muito curto', telefone } }];\n}\n\nif (!nome) {\n  return [{ json: { valido: false, motivo: 'nome ausente', telefone } }];\n}\n\nreturn [{\n  json: {\n    valido: true,\n    telefone_normalizado: telefone,\n    nome,\n    cargo:       (body.cargo       || '').trim(),\n    cidade:      (body.cidade      || '').trim(),\n    partido:     (body.partido     || '').trim(),\n    observacoes: (body.observacoes || '').trim(),\n    evento:      (body.evento      || $vars.NOME_EVENTO || 'Evento'),\n    status_contato: body.status_contato || '',\n    confirmado_em:  body.confirmado_em  || new Date().toISOString(),\n    origem:      body.origem || 'credenciamento_evento',\n  }\n}];"
      },
      "id": "validate-data",
      "name": "🔧 Validar e Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-valido",
      "name": "🔍 Telefone Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 360]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst nome    = d.nome    || 'Prezado(a)';\nconst evento  = d.evento  || 'Evento';\nconst cargo   = d.cargo   ? `💼 ${d.cargo}` : '';\nconst cidade  = d.cidade  ? `📍 ${d.cidade}${d.partido ? ' – ' + d.partido : ''}` : '';\nconst extras  = [cargo, cidade].filter(Boolean).join('\\n');\n\nconst saudacao = nome.split(' ')[0];\n\nconst texto = `Olá, *${saudacao}*! 👋\\n\\nSua presença no *${evento}* foi confirmada! 🎉\\n\\nFicamos muito felizes em tê-lo(a) conosco hoje.${extras ? '\\n\\n' + extras : ''}\\n\\nBem-vindo(a)! 🤝\\n\\n_Equipe Pepê Collaço_`;\n\nreturn [{ json: { ...d, mensagem_whatsapp: texto, boas_vindas_enviada_em: new Date().toISOString() } }];"
      },
      "id": "compose-message",
      "name": "📝 Montar Mensagem Boas-vindas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $vars.EVOLUTION_API_HOST }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $vars.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('📝 Montar Mensagem Boas-vindas').item.json.telefone_normalizado }}\",\n  \"text\":   \"{{ $('📝 Montar Mensagem Boas-vindas').item.json.mensagem_whatsapp }}\",\n  \"delay\":  1200\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "📱 Enviar WhatsApp — Boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 260]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $vars.SUPABASE_URL }}/rest/v1/contatos?telefone_normalizado=eq.{{ $('📝 Montar Mensagem Boas-vindas').item.json.telefone_normalizado }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"boas_vindas_enviada\":    true,\n  \"boas_vindas_enviada_em\": \"{{ $('📝 Montar Mensagem Boas-vindas').item.json.boas_vindas_enviada_em }}\"\n}",
        "options": {}
      },
      "id": "mark-boas-vindas",
      "name": "📊 Marcar Boas-vindas no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 260]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.warn('Boas-vindas ignoradas — dado inválido:', JSON.stringify({ motivo: d.motivo, telefone: d.telefone }));\nreturn [{ json: { ignorado: true, motivo: d.motivo, telefone: d.telefone } }];"
      },
      "id": "log-skip",
      "name": "⚠️ Ignorar — Dado Inválido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 480]
    }
  ],
  "connections": {
    "🌐 Webhook — Presença Confirmada": {
      "main": [
        [
          { "node": "✅ Responder 200",             "type": "main", "index": 0 },
          { "node": "🔧 Validar e Extrair Dados",   "type": "main", "index": 0 }
        ]
      ]
    },
    "🔧 Validar e Extrair Dados": {
      "main": [
        [
          { "node": "🔍 Telefone Válido?", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔍 Telefone Válido?": {
      "main": [
        [
          { "node": "📝 Montar Mensagem Boas-vindas", "type": "main", "index": 0 }
        ],
        [
          { "node": "⚠️ Ignorar — Dado Inválido", "type": "main", "index": 0 }
        ]
      ]
    },
    "📝 Montar Mensagem Boas-vindas": {
      "main": [
        [
          { "node": "📱 Enviar WhatsApp — Boas-vindas", "type": "main", "index": 0 }
        ]
      ]
    },
    "📱 Enviar WhatsApp — Boas-vindas": {
      "main": [
        [
          { "node": "📊 Marcar Boas-vindas no Supabase", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateId": "credenciamento-boas-vindas-v2",
    "instanceId": "credenciamento-evento-pepe"
  },
  "pinData": {},
  "versionId": "2.0.0",
  "tags": ["credenciamento", "whatsapp", "evolution-api", "supabase", "pepe", "boas-vindas"]
}
